@import "../../assets/scss/common";
@import "../../assets/scss/widths";

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
// .container::-webkit-scrollbar {
//     width: 0px;  /* Remove scrollbar space */
//     background: transparent;  /* Optional: just make scrollbar invisible */
// }
.Description {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #333333;
    z-index: 2;
    text-align: center;
    margin-top: 20px;
    @media (max-width: $break-lg) {
        font-size: 18px;
    }
}
.HeaderBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HeaderBlock1 {
    display: flex;
    justify-content: flex-end;
    transform: translateX(-30%);
    @media (max-width: 1080px) {
        transform: translateX(-15%);
    }
    @media (max-width: $break-lg) {
        display: none;
    }
}
.HeaderBlock3 {
    display: flex;
    justify-content: flex-end;
    transform: translateX(30%);
    @media (max-width: 1080px) {
        transform: translateX(15%);
    }
    @media (max-width: $break-lg) {
        display: none;
    }
}
.HeaderBlock1 img, .HeaderBlock3 img {
    // width: 250px;
    height: 220px;
    @media (max-width: 1080px) {
        height: 180px;
    }
}
.Logo {
    width: 215px;
    margin-top: 30px;
    @media (max-width: $break-sm) {
        width: 150px;
    }
}
.ButtonsBlock {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
    @media (max-width: $break-md) {
        justify-content: flex-start;
    }
    transition: 0.5s;
    // transform: translateX(35%);
}

.Btn {
    width: 292.52px;
    height: 60.82px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    margin: 25px;
    border: none;
    outline: none;
    transition: 0.5s;
    @media (max-width: 1080px) {
        width: 250px;
        height: 60px;
        font-size: 20px;
    }
    @media (max-width: $break-lg) {
        width: 230px;
        height: 55px;
        font-size: 18px;
        margin: 5px;
    }
}