@import "../../assets/scss/common";
@import "../../assets/scss/widths";

.EAEHeadImage {
    // position: absolute;
    width: 80.5px;
    height: 70.2px;
    left: 102px;
    top: 276.44px;
}
.EAEHeadBlock {
    position: relative;
}
  
.Description {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    color: #333333;
    margin-left: -3.5rem;
    margin-top: 1.1rem;
    z-index: 2;
}
.EAEMain {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  
    @media (min-width: $break-lg) {
    //   margin-bottom: 200px;
    }
}
.reviewSliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.CardImg {
    width: 80px;
    @media (max-width: $break-xs) {
        width: 60px;
    }
}
.HeaderText {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #333333;
    margin-top: 80px;
    margin-bottom: 20px;
}
.HeaderTextReview {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #333333;
    // margin-top: 80px;
    margin-bottom: 50px;
}
.containerSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sliderItemsBlock {
    display: flex;
    @media (min-width: $break-lg) {
        display: none;
    }
}
.CheckboxSlide {
	cursor: pointer;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background-color: rgba(0,0,0, 0.3);
	/*box-shadow: 0 0 5px 0px rgba(0,0,0,0.9);*/
	border-radius: 50%;
	transition: all 0.3s;
    border: 1px solid #00C6C6;
    background-color: white;
}
.CheckboxSlide:nth-child(1) {
    background-color: #00C6C6;
}
.CheckboxSlide:active {
    background-color: #00C6C6;
}
.conteinerSliderView {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-bottom: 100px; 
    // margin-top: 100px; 
    @media (min-width: $break-xs) {
        // margin-bottom: 50px; 
        // margin-top: 50px; 
    }
}
.Steps {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5.625rem;
    @media (min-width: $break-lg) {
      flex-direction: row;
    }
  }
.ServicesSlidesContainer {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    // margin: 50px;
    @media (max-width: $break-lg) {
        flex-wrap: nowrap;
        overflow: hidden;
        justify-content: flex-start; 
        max-width: 355px;
        // transform: translateX(300px);
    }
    @media (max-width: $break-xs) {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 270px;
        // padding: 15px;
        // transform: translateX(-100%);
    }
}  
.sliderElements {
    max-width: 405px;
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.ServiceSlide {
    // position: absolute;
    width: 345px;
    // height: auto;
    // height: 380.5px;

    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 25px;
    transition: 0.5s;
    @media (max-width: $break-lg) {
        flex-wrap: nowrap;
        margin-right: 100px;
        margin-left: 20px;
    }
    @media (max-width: $break-xs) {
        // margin-left: 15px;
        margin-left: 20px;
        padding: 25px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }
    @media (max-width: 400px) {
        margin-left: 20px;
        padding: 25px;
    }
    @media (max-width: 340px) {
        margin-left: 20px;
        padding: 15px;
    }
}
.ServiceSlideImageBlock {
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104.91px;
    height: 104.91px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    @media (max-width: $break-xs) {
        width: 74.47px;
        height: 74.47px;
    }
}
.ServiceSlideHeader {
    // position: absolute;
    margin-top: 27px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    @media (max-width: $break-xs) {
        font-size: 13px;
        line-height: 15px;
    }
}
.ServiceSlideText {  
    // position: absolute;
    margin-top: 27px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    @media (max-width: $break-xs) {
        font-size: 11.3px;
        line-height: 13px;
    }
}
.CardBtn {
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    width: 261px;
    height: 45px;    
    background: #00C6C6;
    border-radius: 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    @media (max-width: $break-xs) {
        width: 185px;
        height: 32px;
        font-size: 12px;
        padding: 7px 15px;
        // font-weight: 500;
    }
}
.CardBtn:hover {
    background-color: #03B5B5;
}
.sliderBtnBlock {
    background-color: rgba(255, 255, 255, 0);
    display: none;
    @media (max-width: $break-lg) {
        display: block;
    }
    @media (max-width: $break-xs) {
        position: absolute;
    }
}
.sliderBtnBlock:nth-child(1) {
    margin-left: -70%;
    @media (max-width: 420px) {
        margin-left: -80%;
    }
    @media (max-width: 340px) {
        margin-left: -85%;
    }
}
.sliderBtnBlock:nth-child(3) {
    margin-right: -70%;
    @media (max-width: 420px) {
        margin-right: -80%;
    }
    @media (max-width: 340px) {
        margin-right: -85%;
    }
}
.sliderBtn {
    width: 37px;
    // margin: 30px;
}
.Answersblocks {
    width: 100%;
}
.DataBlock {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(0, 198, 198, 0.2);
    width: 100%;
    margin-bottom: 29px;
    @media (max-width: $break-lg) {
        padding-left: 32px;
        margin-bottom: 10px;
    }
}
.DataBlockHeaderBlock {
    display: flex;
    justify-content: space-between;
    padding: 25px 49px 25px 101px;
    cursor: pointer;
    @media (max-width: $break-lg) {
        padding: 15px 15px 15px 27px;
    }
}
.DataBlockHeader {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
}
.arrowBtnDown {
    width: 19px;
    height: 12px;
}
.DataBlockTextBlock {
    display: none;
    padding: 19px 121px 25px 121px;
    @media (max-width: $break-lg) {
        padding: 6px 33px 29px 33px;
    }
}
.DataBlockText {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130.3%;
}
.HeaderTextAnswers {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 65px;
    color: #333333;
    @media (max-width: $break-xs) {
        display: none
    }
}
.commentSliderBlock {
    display: flex;

}
.currentComment {
    max-width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.prevComment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Wrap {
    position: relative;
    width: 808px;
    margin: 150px 0;
}
